
.swiper {
    width: 100%;
    height: 100%;
  padding-top: 2vh;
  padding-bottom: 10vh;
}
.swiper-wrapper {
  display: flex;
  // justify-content: center;
  align-items: center;
  
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 30vw;
  height: auto;
  border: 1px solid #ececec;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
