.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s 1s;
  animation-fill-mode: forwards;
  min-width: 10px;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;

  &:hover {
    animation: rubberBand 1s;
    // color: #006adf;
    color: #a2a2a2;
    // cursor: none;
  }
}

.word {
  white-space: nowrap;
}

@for $i from 1 through 47 {
  .text-animate._#{$i} {
    animation-delay: #{$i/ 13}s;
  }
}
