.about-image {
  width: auto;
  height: 70%;
  opacity: 1;
  // border-bottom: 2px solid #4d4d4e;
  z-index: 1;
  &:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
  }
}
.carousel-container {
    //     width: 41vw;
    // height: 26vh;
    margin-top: 35px;
    // margin-left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100vw;
    // height: 4vh;
  }

@media screen and (max-width: 1200px) {
  .about-title {
    margin: 0;
    padding: 0;
  }
  .about-image {
    width: auto;
    height: 60vh;
    opacity: 1;
    z-index: 1;
    &:hover {
      transition: all 0.5s ease-in-out;
      transform: scale(1);
      cursor: pointer;
    }
  }
  .carousel-container {
        // width: 100%;
    // height: 26vh;
    margin-top: 35px;
    // margin-left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100vw;
    // height: 4vh;
  }
}
