.about-image {
  width: auto;
  height: 750px;
  opacity: 1;
  z-index: 1;
  &:hover {
    transition: all 0.5s ease-in-out;
    transform: scale(1.1);
    cursor: pointer;
  }
}
.carousel-container {
  //     width: 41vw;
  // height: 26vh;
  margin-top: 15px;
  // margin-left: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // width: 100vw;
  // height: 4vh;
}
.about-links {
  display: flex;
  align-items: stretch;
  align-content: stretch;
  flex-direction: row;
  height: auto;
  padding-bottom: 20px;
  gap: 10px;
  .link {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    animation: fadeIn 1s 1.8s backwards;
    &:hover {
      transform: scale(1.2);
      transition: all .2s ease-in-out;
      // animation: 
    }
  }

  .flat-button {
    color: #4d4d4e;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 4px;
    font-family: helvetica;
    text-decoration: none;
    padding: 10px 8px;
    border-radius: 8px;
    border: 1px solid #c1c1c1;
    // margin-bottom: 25px;
    animation: fadeIn 1s 1.8s backwards;
  
    &:hover {
      background-color: #4d4d4e;
      color: #fff;
    }
  }
}


@media screen and (max-width: 1200px) {
  .about-title {
    margin: 0;
    padding: 0;
  }
  .about-image {
    width: auto;
    height: 60vh;
    opacity: 1;
    z-index: 1;
    padding: none;
    &:hover {
      transition: all 0.5s ease-in-out;
      transform: scale(1);
      cursor: pointer;
    }
  }
  .carousel-container {
    // width: 100%;
    // height: 26vh;
    margin-top: 35px;
    // margin-left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 100vw;
    // height: 4vh;
  }
  .flat-button {
    float: none;
    display: block;
  }
}
