.home-page {
  .text-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-title {
    color: #4d4d4e;
    font-size: 68px;
    line-height: 63px;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding-bottom: 15px;
  }
  h2 {
    color: #006adf;
    font-weight: 100;
    font-size: 14px;
    padding-left: 8%;
    font-family: helvetica;
    letter-spacing: 2.5px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #4d4d4e;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 4px;
    font-family: helvetica;
    text-decoration: none;
    padding: 10px 8px;
    border: 1px solid #4d4d4e;
    margin-top: 25px;
    margin-left: 10%;
    float: left;
    animation: fadeIn 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background-color: #4d4d4e;
      color: #fff;
    }
  }

  .logo-container {
    display: flex;
    z-index: 0;
    width: 600px;
    height: 600px;

    .solid-logo {
      z-index: 0;
      width: 100%;
      height: auto;
      animation: pulse 1.5s;
    }
  }

  @media screen and (max-width: 1200px) {
    .tags,
    h1:before,
    h1:after {
      // display: none;
    }
    .logo-container {
      margin-top: -75px;
      width: 300px;
      height: 300px;
      .solid-logo {
        width: 100%;
        height: auto;
      }
    }

    .text-zone {
      // display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-top: 30px;
      padding: 40px;
    }
    .home-title {
      color: #4d4d4e;
      font-size: 38px;
      line-height: 38px;
      font-weight: 300;
      font-family: Arial, Helvetica, sans-serif;
    }
    h2 {
      margin-top: none;
    }
    .flat-button {
      float: none;
      display: block;
      margin: 20px auto 0 auto;
      width: 125px;
    }
  }
}
