.nav-bar {
  border-bottom: 1px solid rgb(248, 246, 246);
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
  margin-bottom: 35px;
  z-index: 1000;
  position: fixed;
  top: 0;

  .mobile-container{
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav-links {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 16px;
    font-family: Phi, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    // letter-spacing: 1px;
    margin: 0 10px;
    &:hover {
      transition: all 0.4s ease-in-out;
      font-weight: 500;
      // transform: scale(1.26);
    }
  }

}
// .drawer-text {
//   text-decoration: none;
//   display: flex;
//   justify-content: center;
//   color: #333;
//   font-weight: 100;
//   font-size: 36px;
//   font-family: 'Phi,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto, Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue, sans-serif';
// }

@media screen and (max-width: 1200px) {
  .nav-bar {
    height: 40px;
    width: 100%;
  }
} ;
