.nav-bar {
  border-bottom: 1px solid rgb(248, 246, 246);
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
  margin-bottom: 35px;
  z-index: 1000;
  position: fixed;
  top: 0;

  .mobile-container{
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .nav-links {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    font-size: 16px;
    font-family: Phi, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    margin: 0 10px;
    &:hover {
      transition: all 0.5s ease-in-out;
      transform: scale(1.08);
      // font-weight: 400;
    }
  }
  @keyframes pulse {
  0% {
    transform: scale(1);
        color: #333;

  }
  50% {
    transform: scale(1.08);
        color: rgb(200, 200, 200);

  }
  100% {
    transform: scale(1);
        color: #333;
  }
  }
  .pulsating-link {
    animation: pulse 2.5s 4;
  }
}

@media screen and (max-width: 1200px) {
  .nav-bar {
    height: 40px;
    width: 100%;
  }
} ;
